@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: orange;
}
::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #595959; /* Set the background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #d8d5d5; /* Set the color of the scrollbar thumb */
    border-radius: 6px; /* Add rounded corners to the thumb */
}

.petCard img {
    transition: all 0.3s;
}
.petCard:hover img {
    transform: scale(1.2);
}
.petCardContext {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
}
.petCard:hover .petCardContext {
    opacity: 1;
}
.storiesCard {
    transition: all 0.3s;
}
.storiesCard:hover {
    transform: rotate(4deg);
}
.StorieContext {
    height: 0;
    transform: translate(400px, 0);
    transition: all 0.4s;
}
.storiesCard:hover .StorieContext {
    height: 100%;
    transform: translate(0px, 0);
}
.cardContext {
    bottom: -130px;
    /* opacity: 0; */
    transition: all 0.3s;
}
.cardImage:hover .cardContext {
    bottom: 0px;
    opacity: 1;
}
/* date picker css */
.datePicker {
    border: 0;
    border-bottom: 1px solid;
    font-size: 15px;
    font-weight: 600;
    padding: 0 20px;
    outline: none;
}
